body {
  max-width: 132ch;
  margin: 50px auto;
  background: hsl(220deg, 25%, 10%);
  color: white;
  font-size: 12.5pt;
  font-family: sans-serif;
}
form > * {
  display: block;
  margin-bottom: 10px;
}
#loginForms > form {
  display: inline-block;
  border: 1px solid currentColor;
  margin-right: 100px;
  padding: 20px;
}
a {
  color: currentColor;
}
a:hover {
  text-decoration-thickness: 0.3em;
}
header {
  background: hsl(220deg, 50%, 50%);
  padding: 10px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  margin-bottom: 50px;
}
h1 {
  margin: 0;
}
.btn {
  background: hsl(220deg, 25%, 10%);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid currentColor;
}
a.btn {
  text-decoration: none;
}
a.btn:hover {
  background: hsl(220deg, 25%, 50%);
}
